* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

:root {
  --color-green: hsl(160deg, 100%, 30%);
  --color-gold-light: hsl(45deg, 100%, 50%);
  --color-gold-dark: hsl(45deg, 100%, 40%);
  --color-black: hsl(0deg, 0%, 0%);
  --color-grey-700: hsl(0deg, 0%, 10%);
  --color-grey-500: hsl(0deg, 0%, 30%);
  --color-grey-300: hsl(0deg, 0%, 40%);
  --color-grey-100: hsl(0deg, 0%, 60%);
  --color-white: hsl(0deg, 0%, 100%);
}

header, main {
  height: 50%;
  padding: 64px 80px;
}

header, .card {
  border-bottom: 5px solid var(--color-grey-300);
}

main {
  background: var(--color-grey-100);
}

.card {
  background: white;
  margin: 0 auto;
  padding: 16px;
}

.indented-heading {
  background: var(--color-gold-light);
  padding: 16px 24px;
  border-bottom: 5px solid var(--color-gold-dark);
  width: max-content;
  margin-top: -8px;
  margin-left: -24px;
  font-size: 1.25em;
}

p {
  margin: 16px 0;
}

strong {
  color: var(--color-green);
}

.intro-chunk {
  padding-top: 35%;
  width: 60%;
}

.max-width-wrapper {
  max-width: 600px;
  margin: 0 auto;
}